<div id="<%= dom_id medicine %>">
  <p>
    <strong>Name:</strong>
    <%= medicine.name %>
  </p>

  <p>
    <strong>Descripition:</strong>
    <%= medicine.descripition %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= medicine.price %>
  </p>

</div>
